# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# production
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# editor
.vscode/
.idea/

# vercel
.vercel
